
body{
    margin: 0;
    background-color: peachpuff;
}
header{
background-color: green;
padding: 20px;
text-align: center;
color: white;
font-family: monospace;
}

nav{
    overflow: hidden;
    background-color: red;
}
nav a{
    float: left;
    color: white;
    padding : 20px; 
    text-decoration: none;
}
 nav a:hover{
    background-color: black;
 }

 .column{
    float: left;
    padding: 10px;
    
 }

 .column.side{
     width:25%:
 }/* FOOTER */
  
footer {
    padding: 1em 0em;
    background-color: #1b262c;
  }
    
  .footer-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
    
  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
    
  .contents h3,
  .copyright {
    color: white;
  }
    
  .contents h3 {
    font-weight: lighter;
    font-size: 0.9rem;
    
    margin-bottom: 0.6em;
  }
    
  .contents a {
    display: inline-block;
    font-size: 0.9rem;
    color: rgb(202, 202, 202);
    padding-bottom: 0.2em;
    
    transition: color 100ms linear;
  }
    
  .copyright {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8rem;
  }
    
  .contents:last-child {
  }
    
  @media (max-width: 655px) {
    .contents {
      margin-bottom: 1.5em;
    }
  }
    
  @media (min-width: 670px) {
    .contents {
      margin-bottom: 1.5em;
    }
  }
 column.middle{
     width: 50:
 }
 footer{ 
    clear: both;
    background-color: black;
adding: 20px;
ext-align: center;
olor: lavenderblush;
 
 
 /* this is paragrph*/

 div.gallery{
     margin: 5px;
     border: 5px solid black;
     float: left;
     width: 190px;

 }
 div.gallery:hover{
     border: 5px solid red;
 }



 div.gallery img{
     width: 100%;
     height: auto;
 }
 div.desc{
     
    padding: 15px;
    text-align: center;
    color: snow;
 }

 
 