.otherActive~._28r-{pointer-events:auto}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}
._agk{margin-right:3px;max-height:16px;max-width:16px;vertical-align:-2.9px}
.sp_giMcVu2SXpo{background-image:url(/rsrc.php/v3/y-/r/r2s98c91Zxj.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_giMcVu2SXpo.sx_b8613b{width:12px;height:12px;background-position:0 -34px}.sp_giMcVu2SXpo.sx_45bd21{background-position:0 0}.sp_giMcVu2SXpo.sx_ef6c72{background-position:0 -17px}

#bootloader_9__9g{height:42px;}.bootloader_9__9g{display:block!important;}