
.sp_DrvEB3k92g1{background-image:url(/rsrc.php/v3/yp/r/FcfDB1n55tc.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:7px;width:14px}.sp_DrvEB3k92g1.sx_f0d4e3{background-position:0 0}.sp_DrvEB3k92g1.sx_2d61ae{background-position:0 -8px}.sp_DrvEB3k92g1.sx_7ec3b0{background-position:0 -16px}

#bootloader_YY5Cv{height:42px;}.bootloader_YY5Cv{display:block!important;}